.a1{
background-color: lavender;
color: brown;
text-align: center;
font-size: xx-large;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: bolder;
}
.a2{
    background-color: cadetblue;
    color: coral;
    text-align: center;
    font-family: cursive;
}