ul{
    list-style-type: circle;
   border:2px solid green;
background-color: hotpink;
}
ul a{
    display: inline-block;
    color: blueviolet;
    margin: 10px;
    text-decoration: none;
    font-size: 15px;
}
ul a:hover{
    color: cadetblue;
    background-color: rgba(220, 20, 60, 0.897);
    font-size: large;
}
ul a:active{
    color:purple;
}