h1{
    background-color: darkmagenta;
    color: darkturquoise;
    border: 4px solid green;
    text-align: center;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}